.edit-user{
  padding: 16px;
  background-color: var(--base-grey);
  box-shadow: 14px 17px 40px 4px rgba(112, 144, 176, 0.08);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
}
.edit-user .field{
  display: flex;
  flex-direction: column;
}
.edit-user .edit-input{
  margin-bottom: 32px !important;
}
.edit-user .button-container{
  display: flex;
  justify-content: flex-end;
}
.edit-user .left{
  border-right: 1px solid rgba(224, 224, 224, 1);
}
.edit-user .right{
  padding-left: 32px;
  width: 100%;
}
.edit-user .user-profile-picture{
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  padding-right: 32px;
  margin-bottom: 32px;
  transition: .2s ease-in-out;
  cursor: pointer;
}
.user-profile-picture:hover{
  opacity: .7;
}
.edit-user .user-id-info .content{
  font-weight: 500;
  color: var(--text-grey);
}