.login{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container{
  box-shadow: 14px 17px 40px 4px rgba(112, 144, 176, 0.08);
  margin-bottom: 100px;
  border-radius: 20px;
  background-color: var(--base-grey);
  padding: 32px;
}
.head{
  text-align: center;
  margin-bottom: 32px;
}
.head img{
  object-fit: contain;
  width: 150px;
}
.form-subtitle{
  margin-top: 12px;
  color: var(--text-black-2);
  font-weight: 500;
  font-size: 18px;
}
.login-form{
  display: flex;
  flex-direction: column;
}
.input{
  width: 375px;
}
.input-email{
  margin-bottom: 16px !important;
}
.password-show{
  display: flex;
  align-items: center;
}
.login-button{
  margin-top: 32px !important;
}