.user-manage .utilities{
  margin-bottom: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pagination{
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}